.moveRight{
  margin-left: 40%;
}

.formBody{
  margin-top: 20vh;
  border: solid black;
  background-color: #202630;
  color: white;
  width: 25vw;
}

.bodyBackground{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://localhost:3000/assets/background2.jpg");
}

@media screen and (max-width: 1370px) {
.formBody{
  margin-top: 20vh;;
  border: solid black;
  background-color: #202630;
  color: white;
  width: 100%;
}
.moveRight{
  margin-left: 0;
}
}